<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<% if params[:id] %>
  <%= form_tag merge_path(id: params[:id]) do %>
    <h4><%= _("Merge") %></h4>
    <div class='class'>
      <%= text_field_tag 'merge_id' %>
      <input value="Submit" type="submit" />
  <% end %>
<% end %>